@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(236, 238, 239);
}
  
.typing-effect::after {
  content: '|';
  animation: blink 0.7s infinite alternate;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

html{
  overflow-x:hidden;
  scroll-behavior: smooth;
}


